[submodule "modules/sk3lshell"]
	path = modules/sk3lshell
	url = https://github.com/sk3l/sk3lshell
[submodule "modules/vim-conf"]
	path = modules/vim-conf
	url = https://github.com/sk3l/vim-conf
[submodule "modules/tmux-conf"]
	path = modules/tmux-conf
	url = https://github.com/sk3l/tmux-conf
